<div>
  <div id="title">Send Invitation To Student</div><br />
  <%=  form_for(@user, :url =>   admin_students_path(@user, :admin_id => current_admin.id), :html => { :multipart => true }) do |f|%>
    <table>
      <tr>
        <td valign="top"> Name:</td>
        <td><%= f.text_field :name%></td>
      </tr>
      <tr>
        <td valign="top">Email:</td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td valign="top">Class:</td>
        <td><%= select_tag :batch_id,  options_for_select([["Select", ""]] + Batch.all.map{|i| [i.batch_name,i.id]}) %></td>
      </tr>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Send Invitation", :class => 'btn'%></td>
      </tr>
    </table>
  <% end %>

</div>

