<!DOCTYPE html>
<html>
  <head>
    <title>Srapp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <% if current_web_admin %>
            <%= render :partial => "layouts/web_admin" %>
          <%elsif current_admin %>
            <%= render :partial => "layouts/admin" %>
          <%else current_user%>
            <%= render :partial => "layouts/user" %>
          <%end%>
        </div>   
      </div><!--/.nav-collapse -->
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div id='overlay' style='filter:alpha(opacity=50);'></div>
    <div align='center' id='popup_box'>
      <div style='float: right; margin-top: -13px;margin-right:-13px'>
      </div>
      <div id='popup_body' style='float:right'></div>
    </div>  
  </body>
  
 </html>
